<table class="table">
    <thead class="table__header">
        <th class="table__header__content">Data</th>
        <th class="table__header__content">Valores</th>
        <th class="table__header__content">Destinos</th>
    </thead>
    <tbody>
        <tr class="table__row" *ngFor="let transferred of transferred">
            <td class="table__row__content">{{ transferred?.date | date: "short"}}</td>
            <td class="table__row__content">{{ transferred?.values | currency }}</td>
            <td class="table__row__content">{{ transferred?.destinations }}</td>
        </tr>
    </tbody>
</table>